#!/usr/bin/make -f

export PYBUILD_NAME = servicedraw

# Add here any variable or target overrides you need.
%:
	dh $@ --with python3,systemd --buildsystem=pybuild

override_dh_clean:
	dh_clean
	rm -rf build/
	rm -rf servicedraw_build/
	rm -rf servicedraw.egg-info/

override_dh_install:
	mkdir -p servicedraw_build/bins
	sed '1s,.*,#!/usr/bin/env python3,' service-draw.py > servicedraw_build/bins/service-draw.py
	cp service-draw.conf.ex servicedraw_build/service-draw.conf
	dh_install

override_dh_installinit:
	dh_installinit --noscripts

override_dh_auto_test:
	#No unittests for now
	true
